@model TimeMKVisualizer.Models.ViewModels.ListRDFViewModel



<div class="row">
    <h1>Site vesti za korona za juli se:</h1>
         @foreach(var item in Model.coronaArticles)
         {
             <article>
                 <h2>
                     Naslov na vest: @item.CoronaArticleText
                 </h2>
                 <h3>Kreator : @item.CoronaCreator.CreatorName</h3>
             </article>
         }
             <h1>Creator chart</h1>
        <div>
            <img src="@Url.Action("ShowChart","Home")" />
        </div>

        <h1>Corona chart</h1>
        <div>
            <img src="@Url.Action("ShowCoronaChart","Home")" alt="Alternate Text" />
        </div>

</div>