@model TimeMKVisualizer.Models.ViewModels.ListRDFViewModel



<div class="row">
    @foreach (var item in Model.creators)
    {
        <p>@item.ArticleLink   -   @item.CreatorName</p>
    }
    @foreach (var item in Model.creators.Select(x => x.CreatorName).Distinct())
    {
        <p>@item</p>
    }
        <div>
            <img src="@Url.Action("ShowChart","Home")" />
        </div>


</div>